<h2>Drag and Drop</h2>

<div class="container">
  <div class="employeeContainer">
    <ul (drop)="drop($event)" (dragover)="allowDrop($event)">
      <li draggable="true" id="li3" (dragstart)="drag($event)">HTML</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">CSS</li>
      <li draggable="true" id="li1" (dragstart)="drag($event)">ASP.NET MVC</li>
      <li draggable="true" id="li2" (dragstart)="drag($event)">jQuery</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">.NET Core API</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">Angular 2+</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">c#</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">LINQ</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">Entity-Framework</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">SQL Server</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">ADO.NET</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">DevOps</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">Kubernates</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">JIRA</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">GIT</li>
      <li draggable="true" id="li4" (dragstart)="drag($event)">TFS</li>
    </ul>
  </div>
  
  <div class="employeeContainer">
  
    <ul  (drop)="drop($event)" (dragover)="allowDrop($event)" id="ulContainer">
      <li draggable="true">Shubham Bahuguna</li>
    </ul>
  </div>
</div>