.container{
    position: relative;
    height: 800px;
    width: auto;
    box-sizing: border-box;
    background: rgb(187, 211, 224);
    /* border: 2px solid black; */
    border-radius: 12px 12px 0px 0px;
}
.empHeaders{
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background: #3d588a;
    border-radius: 10px 10px 0px 0px;
    /* border: 2px solid black; */
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
.empContainer{
    height: 580px;
    display: inline-block;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1px 1px 1px 1px;
    margin-left: 16%;
    margin-top: 4%;
}
.employeeContainer {
    display: inline-grid;
    width: 30%;
    padding: 2%;
    height: auto;
    min-height: 200px;
    padding: 10px;
    border: 3px solid #3d588a;
    border-radius: 5px;
    margin: 10px;
}

.employeeContainer > ul, .employeeContainer > ul{ 
    list-style-type: none;
    min-height: 500px;
}

.employeeContainer > ul > li , .employeeContainer > ul > li  {
    height: 30px;
    padding: 15px;
    margin: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 700;
    background: #f3f3f3;
    border-radius: 4px;
    vertical-align: middle;
    align-content: center;
    display: inline-grid;
    text-align: center;
    
}
.employeeContainer > ul > li:hover, .employeeContainer > ul > li:hover{
    background: darkorange;
    cursor: move;
    transition: 0.5s ease-in;   
}
.verticalRow {
    display: inline-grid;
    width: 0px;
    height: 580px;
    border: 2px solid black;
}

.listHeader{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 800;
}