#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
}





.employeeContainer {
    width: 50%;
    display: inline-block;
    height: auto;
    min-height: 200px;
    padding: 10px;
    /* border: 1px solid black; */
}

.employeeContainer > ul > li , .employeeContainer > ul > li  {
    height:20px;
    padding: 5px;
    margin: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 700;
    background: #f3f3f3;
    
}

.employeeContainer > ul, .employeeContainer > ul{ 
    list-style-type: none;
    min-height: 200px;
}

.employeeContainer > ul > li:hover, .employeeContainer > ul > li:hover{
    background: darkorange;
    cursor: pointer;
    
}
